<div class="container">
  <h3>About Me</h3>
  <p>Before learning to code I founded a nonprofit in Uganda called   <a href="http://www.maplemicrodevelopment.org">MAPLE Microdevelopment</a> and spent 10 years in the nonprofit sector focused on providing access to education for low-income entrepreneurs. Highlights during this time include designing and teaching business skills curricula, and managing the design and launch of an app.</p>
  <p>After leaving the nonprofit world to work at TalentBin, a tech recruiting search tool,  I led the customer success team and discovered my passion for optimizing workflows and using APIs to create simple, intuitive tools- for example optimizing the onboarding workflow to allow a one-to-many teaching model which improved my team’s weekly throughput by 5x.
  </p>
  <p> As a small startup, TalentBin relied on my team to inform engineering in product design (there was no PM for most of my time) and to train users how to be successful with the tool. This led me to code school, to design applications that facilitate users’ needs and don’t need hours of training.
  </p>
</div>
